.header-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.image {
  height: 70%;
  width: 10%;
  margin-left: 20px;
}
.header-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 90%;
  width: 40%;
  list-style-type: none;
}
.button {
  background-color: #0b69ff;
  border: 0px;
  color: white;
  height: 100%;
  width: 16%;
  border-radius: 10px;
}
